* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	color: #777;
}

h1, h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	line-height: 1.6;
}

h1 {
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 66px;
	text-align: center;
	color: #fff;
}

h2 {
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 25px;
	color: #000;
}

a {
	text-decoration: none;
}

.container-header,
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container-header {
	max-width: 1100px;
}

.container {
	max-width: 900px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #fff;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	display: flex;
    align-items: center;
}

.logo a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	color: #777;
}

.logo a:hover {
	color: #bfba55;
}

.menu {
	display: flex;
	flex-wrap: wrap;
}

.menu li {
	padding-left: 55px;
	color: #777;
}

.menu a {
	color: inherit;
}

.menu a:hover {
	color: #bfba55;
}

.listreset {
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#hero-section {
	position: relative;
	height: 100vh;
	display: flex;
    justify-content: center;
	margin-top: 60px;
	background-color: transparent;
}

.bg-banner {
	background-image: url("../img/home-bg.jpg");
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-banner:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hero-content {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.hero-content > p {
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	color: #bfba55;
}

.btn-banner {
	display: inline-block;
    vertical-align: top;
	max-width: 300px;
	padding: 12px 20px;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: 0.1em;
	color: #777;
	background-color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-banner:hover {
	background-color: #000;
	color: #fff;
}

.article {
	padding-top: 80px;
}

.content-wrapper {
	padding-bottom: 80px;
	border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}

.user-data {
	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.user-data-photo {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.user-photo-size {
	display: block;
	width: 100%;
	border-radius: 50%;
}

.name-user {
	margin: 0px 15px 0px 0px;
}

.time-publishing {
	margin-right: 15px;
}

.comment p {
	margin: 0px 15px 0px 0px;
}

.img-size {
	display: block;
	width: 100%;
}

.comment {
	display: flex;
}

.comment .far {
	padding-right: 5px;
}

.fa-comment:before {
    vertical-align: sub;
}

.article-text {
	margin-top: 0px;
	margin-bottom: 25px;
}

.btn-article {
	display: inline-block;
	vertical-align: top;
	padding: 12px 20px;
	border: 1px solid rgba(119, 119, 119, 0.4);
	border-radius: 25px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 1.5;
	text-transform: uppercase;
	color: #777;
	background-color: #fff;
}

#footer {
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #000;
}

.col {
	display: flex;
	justify-content: space-between;
}

.col-1, .col-2 {
	padding-right: 30px;
}

.col-1 {
	max-width: 430px;
}

.h2-style-1, .h2-style-2 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #fff;
}

.h2-style-1 {
	text-transform: uppercase;
}

.footer-text {
	margin-top: 0px;
	margin-bottom: 30px;
}

.address-holder {
	margin-bottom: 15px;
}

.address-holder address {
	font-style: normal;
}

.phone-holder {
	margin-bottom: 15px;
}

.phone-holder a {
	color: #777;
}

.phone-holder {
	margin-bottom: 15px;
}

.mail-holder a {
	color: #777;
}